/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}

/*--------------------*/

body {
	font-family: Lato;
}

.wrapper {
	max-width: 1600px;
}

.page {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.header {
	position: relative;
	background: center url(../img/head.jpg) no-repeat;
	background-size: cover;
	flex: 1 0 100%;
}

.header__row {
	margin: 35px 0px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
}

@media (max-width: 767px) {
	.header__row {
		margin: 15px 0 0 0;
	}
}

.menu__list {
	display: flex;
}
.menu__link {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2.6px;
	color: #4d4959;
}

.menu__list li {
	position: relative;
	padding: 0 37.5px;
}

.menu__list li:nth-child(2) {
	padding: 0 110px 0 37.5px;
}

.menu__list li:nth-child(3) {
	padding: 0 37.5px 0 110px;
}

.menu__list li:after {
	content: "";
	width: 4px;
	height: 4px;
	background-color: #4d4959;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 50%;
	margin: -3px 0 0 0;
}

.menu__list li:nth-child(2):after {
	display: none;
}

.menu__list li:last-child:after {
	display: none;
}

.header__logo {
	position: absolute;
	top: 35px;
	transform: -50%, 0, 0, 0;
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.menu_body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: -100%;
		overflow: auto;
		left: 0;
		background-color: #4d4959;
		padding: 150px 0 0 0;
	}
	.menu_body.active {
		top: 0;
		transition: all 0.3s ease 0s;
	}
	.menu__list {
		z-index: 3;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__list li {
		padding: 0 0 50px 0 !important;
	}
	.menu__list li:after {
		display: block;
		width: 5px;
		height: 5px;
		background-color: #fff;
		right: 50%;
		top: 50px;
		margin: 0px -2px 0 0;
	}
	.menu__list li:nth-child(2):after {
		display: block;
	}
	.menu__link {
		color: #fff;
		font-size: 20px;
	}

	.icon-menu {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		height: 18px;
		width: 30px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		position: absolute;
		background-color: #4d4959;
		left: 0;
		width: 100%;
		height: 2px;
		top: 8px;
		transition: all 0.3s ease 0s;
	}
	.icon-menu:before,
	.icon-menu:after {
		content: "";
		background-color: #4d4959;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.icon-menu:before {
		top: 0;
	}
	.icon-menu:after {
		bottom: 0;
	}
	.icon-menu.active span {
		background-color: #fff;
		transform: scale(0);
	}
	.icon-menu.active:before {
		background-color: #fff;
		transform: rotate(45deg);
		top: 8px;
	}
	.icon-menu.active:after {
		background-color: #fff;
		transform: rotate(-45deg);
		bottom: 8px;
	}
}

.h {
	text-transform: uppercase;
	font-family: Lato;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3.6px;
	color: #353738;
}

.block {
	align-items: center;
	text-align: center;
	background-color: #f7f7f7;
	width: 100%;
}

.container {
	max-width: 1130px;
	margin: 0px auto;
}

.generation__icon {
	margin: 117px 0 31px 0;
}

.generation__text {
	margin: 34px 0 35px 0;
}

.generation__text_p {
	margin: 35px 35px 142px 15px;
}

.text {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.89;
	color: #848789;
}

@media (max-width: 767px) {
	.generation__icon {
		margin: 15px 0 25px 0;
	}
	.generation__icon img {
		width: 46px;
	}
	.generation__text_p {
		margin: 10px 10px 142px 15px;
		font-size: 20px;
		line-height: 1.89;
		color: #848789;
	}
	.generation__text h3 {
		margin: 15px 0 15px 0;
		font-size: 20px;
	}
}

.brands1 {
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
		&_a {
			flex: 0 1 66.667%;
		}
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 54px 65px;
		position: relative;
		&::after {
			z-index: 2;
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}

	&__text {
		margin: 31px 0px 0px 0px;
		font-size: 18px;
		line-height: 34px;
		&_p {
			margin: 26px 0px 0px 0px;
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			color: #848789;
			&::after {
				content: "";
				display: block;
				margin: 35px auto 0px auto;
				width: 50px;
				height: 1px;
				margin: 40px 173px 0 175px;
				background-color: #848789;
			}
		}
	}

	&__img {
		padding: 0px 0px 37.526% 0px;
	}

	@media (max-width: 1500px) {
		&__content {
			padding: 45px 35px 54px 35px;
		}
		&__icon img {
			width: 46px;
			height: 35px;
		}
		&__text_p {
			&::after {
				margin: 15px auto 0px auto;
			}
		}
	}
	@media (max-width: 1100px) {
		&__content {
			padding: 30px 30px 35px 30px;
		}
		&__row {
			flex-direction: column;
		}
	}
}

.brands2 {
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
		&_a {
			flex: 0 1 66.667%;
		}
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 54px 65px;
		position: relative;
		&::after {
			z-index: 2;
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}

	&__text {
		margin: 31px 0px 0px 0px;
		font-size: 18px;
		line-height: 34px;
		&_p {
			margin: 26px 0px 0px 0px;
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			color: #848789;
			&::after {
				content: "";
				display: block;
				margin: 35px auto 0px auto;
				width: 50px;
				height: 1px;
				margin: 40px 173px 0 175px;
				background-color: #848789;
			}
		}
	}

	&__img {
		padding: 0px 0px 37.526% 0px;
	}

	@media (max-width: 1500px) {
		&__content {
			padding: 45px 35px 54px 35px;
		}
		&__icon img {
			width: 46px;
			height: 35px;
		}
		&__text_p {
			&::after {
				margin: 15px auto 0px auto;
			}
		}
	}
	@media (max-width: 1100px) {
		&__content {
			padding: 30px 30px 35px 30px;
		}
		&__row {
			flex-direction: column;
		}
	}
}

.brands3 {
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
		&_a {
			flex: 0 1 66.667%;
		}
		&_c {
			flex: 0 1 66.667%;
		}
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 54px 65px;
		position: relative;
		&::after {
			z-index: 2;
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}

	&__text {
		margin: 31px 0px 0px 0px;
		font-size: 18px;
		line-height: 34px;
		&_p {
			margin: 26px 0px 0px 0px;
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			color: #848789;
			&::after {
				content: "";
				display: block;
				margin: 35px auto 0px auto;
				width: 50px;
				height: 1px;
				margin: 40px 173px 0 175px;
				background-color: #848789;
			}
		}
	}

	&__img {
		padding: 0px 0px 37.526% 0px;
	}

	@media (max-width: 1500px) {
		&__content {
			padding: 25px 15px 34px 15px;
		}
		&__text_p {
			&::after {
				margin: 15px auto 0px auto;
			}
		}
	}
	@media (max-width: 1100px) {
		&__content {
			padding: 30px 30px 35px 30px;
		}
		&__row {
			flex-direction: column;
		}
	}
}

.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
	}
	.slick-list {
		overflow: hidden;
	}
	.slick-track {
		display: flex;
		align-items: flex-start;
	}
	.slick-slide {
	}
	.slick-dots {
		padding: 100px 0px 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin: 0px 5px;
			button {
				font-size: 0;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				border: 1px solid#c8c8c8;
				background-color: transparent;
			}
			&.slick-active {
				button {
					background-color: #a9afb3;
				}
			}
		}
		@media (max-width: 767px) {
			padding: 20px 0px 0px 0px;
		}
	}
}

.slider {
	min-width: 0;
	background-color: #f7f7f7;
	padding: 120px 0 60px 0;
	&__body {
		min-width: 0;
	}

	&__item {
		text-align: center;
	}

	&__icon {
		margin: 0 0 60px 0;
	}

	&__title {
		margin: 0 0 20px 0;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		color: #353738;
		span {
			font-weight: 300;
			color: #848789;
		}
	}

	&__text {
		text-align: center;
		font-size: 24px;
		font-style: italic;
		line-height: 1.42;
		color: #848789;
	}
	@media (max-width: 767px) {
		padding: 50px 0px 30px 0px;
		&__icon {
			margin: 0px 0px 25px 0px;
		}
		&__text {
			margin: 0px 0px 15px 10px;
		}
	}
}

.item {
	height: 100%;
	display: block;
	position: relative;
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 2;
		background-color: rgba(100, 194, 158, 0.5);
		opacity: 0;
		visibility: hidden;
		span {
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 2.8px;
			color: #ffffff;
			text-transform: uppercase;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
			transition: all 0.3s ease 0s;
		}
	}
	@media (max-width: 1100px) {
		height: auto;
		padding: 0px 0px 70% 0px;
	}
}

.shop {
	&__body {
		display: flex;
	}

	&__column {
		flex: 0 1 16.666%;
		&_b {
			flex: 0 1 33.333%;
		}
	}

	&__block {
	}

	&__footer {
		padding: 75px 0;
		text-align: center;
		background: #282f35;
	}

	&__btn {
		display: inline-block;
		height: 50px;
		line-height: 48px;
		letter-spacing: 2.8;
		color: #fff;
		padding: 0 60px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		border: solid 1px rgba(255, 255, 255, 0.5);
	}
	@media (max-width: 1100px) {
		&__footer {
			padding: 35px 0;
		}
		&__body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			&_b {
				flex: 1 1 100%;
			}
			&:first-child {
				flex: 1 1 100%;
			}
			&:last-child {
				flex: 1 1 100%;
			}
		}
	}
}

.block-shop {
	&__row {
		@include flexbox();
	}

	&__column {
		flex: 0 1 50%;
	}
	&__item {
		height: auto;
		padding: 0px 0px 50% 0px;
		&_b {
			padding: 0px 0px 200.27% 0px;
		}
		&_l {
			padding: 0px 0px 100% 0px;
		}
	}
}

.subscribe__input._error {
	box-shadow: 0 0 15px red;
}

.subscribe {
	&__body {
		padding: 110px 0;
		max-width: 534px;
		margin: 0px auto;
		text-align: center;
	}

	&__logo {
		margin: 0px 0px 39px 0px;
	}

	&__label {
		color: #848789;
		font-size: 24px;
		font-style: italic;
		margin: 0px 0px 35px 0px;
	}

	&__input {
		flex: 1 1 auto;
		padding: 0px 8px 0px 0px;
		.input {
			width: 100%;
			height: 69px;
			border: 1px solid #d3d7d9;
			background-color: #fff;
			padding: 0px 28px;
			color: #929292;
			font-size: 20px;
			font-style: italic;
		}
	}
	&__input:focus {
		color: #616161;
	}

	&__button {
		flex: 0 0 126px;
	}
	&__form {
		display: flex;
	}

	&_email {
	}
	&__btn {
		width: 100%;
		height: 69px;
		line-height: 69px;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 300;
		background-color: #64c29e;
	}
	@media (max-width: 750px) {
		&__body {
			margin: 0px 8px 0px 8px;
			padding: 50px 0;
		}
	}
	@media (max-width: 500px) {
		&__form {
			display: block;
		}
		&__input {
			padding: 0px 0px 8px 0px;
		}
	}
}

.footer {
	background-color: #f7f7f7;
	&__row {
		@include flexbox();
		padding: 100px 0;
		align-items: center;
	}

	&__column {
		flex: 0 1 33.333%;
	}

	&__address {
		color: #848789;
		font-size: 14px;
		line-height: 18px;
		p {
			&:first-child {
				font-weight: 700;
			}
		}
	}
	@media (max-width: 1100px) {
		padding: 50px 0;
	}
	@media (max-width: 600px) {
		padding: 30px 0;
		&__row {
			flex-direction: column;
			text-align: center;
		}
		&__social {
			margin: 15px;
		}
	}

	&__social {
	}
}
.social {
	@include flexbox();
	justify-content: center;
	align-items: center;
	&__link {
		margin: 0px 7.5px;
	}

	&__dev {
	}
}
.dev {
	@include flexbox();
	align-items: center;
	justify-content: flex-end;
	&__text {
		color: #848789;
		font-size: 14px;
		font-style: italic;
		padding: 0px 9px 0px 0px;
	}

	&__icon {
	}
}
